*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.footerTail{
    background-color:#000000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    border-top: 1px solid  #828282;
    padding-left: 5px;
}
.copyRight{

    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #828282;
    width: 337px;

}