.NavLink{
    height: 38px;
    width: fit-content;
    font-size: medium;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 1.5em;
    color: black;

}
.NavLink:hover{
    background-color: #F5F5F5;
}
.NavLink:focus,.NavLink.active{
    border-bottom:1px solid #828282;
}

