.circle{
    /* Services */
    margin: 22px 95px 5px;

        width: 80px;
        height: 80px;


        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;

       
}